body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca',
    sans-serif;
  color: #fff;
  height: 100%;
}

main {
  width: 95%;
  margin: 0 auto;
}

.column {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 75%;
  margin: 0 auto;
  padding: 40px 0;
}

.column:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
  border-radius: 15px 15px 0px 0px;
}

.column:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}

.column:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 0px 15px 15px;
}

.title {
  font-family: 'Big Shoulders Display',
    cursive;
  font-size: 36px;
}

.description {
  font-family: 'Lexend Deca',
    sans-serif;
  font-weight: 400;
  line-height: 30px;
}

button {
  background-color: #fff;
  border: none;
  padding: 13px 25px;
  border-radius: 25px;
  font-weight: bold;
  border: #fff solid 2px;
}

/*Button Column One*/
.btn-one button {
  color: hsl(31, 77%, 52%);
}

.btn-one button:hover {
  background-color: hsl(31, 77%, 52%);
  color: #fff;

}

/*Button Column Two*/
.btn-two button {
  color: hsl(184, 100%, 22%);
}

.btn-two button:hover {
  background-color: hsl(184, 100%, 22%);
  color: #fff;

}

/*Button Column Three*/
.btn-three button {
  color: hsl(179, 100%, 13%);
}

.btn-three button:hover {
  background-color: hsl(179, 100%, 13%);
  color: #fff;
}


@media (min-width: 768px) {
  main {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  body,
  html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    display: flex;
    width: 95%;
    max-width: 1050px;
    justify-self: center;
  }

  .column:nth-child(1) {
    border-radius: 15px 0px 0px 15px;
  }

  .column:nth-child(3) {
    border-radius: 0px 15px 15px 0px;
  }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}